<style>
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
  
</style>

<div class="news" style="margin-top: 30px;margin-left: 72px;">
  <h2 style="font-weight: bold;">News</h2>
  {% if site.news  %}
    <div class="table-responsive" style="margin-top: -20px;">
      <table class="table table-borderless">
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
      
        <tr>
          <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
          
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
