<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">


        <!-- navigation menu -->
        <div class="col-sm-2" style="background-color:rgb(249, 248, 252);">
          <!-- nav photo -->
          <div class="centered">
            {% if page.profile.image %}
              <img class="navimage" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
              {% endif %}
            <h3 class="text-center"> Manohar Kaul</h3>
            <div class="text-center">
              <div>Assistant Professor,</div>
              <div>Department of Computer Science, IITH</div>
            </div>
            <h3 > </h3>

          </div>

          <!-- for togle 3 line icon -->
          <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse" float-left>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- list of navigation menu -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if page.title == 'about' %}active{% endif %} hover"><a href="{{ '/' | relative_url }}"><i class="fa fa-home iconsize" aria-hidden="true"></i> Home</a></li>
                    <li class="{% if page.title == 'publications' %}active{% endif %} hover"><a href="{{ site.baseurl }}{% link _pages/publications.md %}"><i class="fa fa-graduation-cap iconsize" aria-hidden="true"></i> Publications</a></li>
                    <li class="{% if page.title == 'projects' %}active{% endif %} hover"><a href="{{ site.baseurl }}{% link _pages/projects.md %}"><i class="fas fa-paper-plane iconsize" aria-hidden="true"></i></i> Research</a></li>
                    <li class="{% if page.title == 'talks' %}active{% endif %} hover"><a href="{{ site.baseurl }}{% link _pages/talks.md %}"><i class="fas fa-video iconsize" aria-hidden="true"></i> Media</a></li>
                    <li class="{% if page.title == 'students' %}active{% endif %} hover"><a href="{{ site.baseurl }}{% link _pages/students.md %}"><i class="fas fa-folder-open iconsize" aria-hidden="true"></i> Resources</a></li>
                    <li class="{% if page.title == 'teaching' %}active{% endif %} hover"><a href="{{ site.baseurl }}{% link _pages/teaching.md %}"><i class="fa fa-university iconsize" aria-hidden="true"></i> Teaching</a></li>
                    <li class="{% if page.title == 'contacts' %}active{% endif %} hover"><a href="{{ site.baseurl }}{% link _pages/publications.md %}"><i class="fas fa-address-card iconsize" aria-hidden="true"></i> contacts</a></li>
                </ul>
                
            </div>
        </nav>
        
        </div>

        <!-- main content -->
        <div class="container mt-5" style="background-color:rgb(255, 255, 255);">{{content}}</div>

        <!-- twitter -->
        <div class="col-sm-3 mt-5" style="background-color:rgb(255, 255, 255);">
          <div class="tweet">
            <a class="twitter-timeline" href="https://twitter.com/ManuKaul1?ref_src=twsrc%5Etfw">Tweets by ManuKaul1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Footer -->

    {% include footer.html %}

  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
